Question 3:
Create your own Jupyter Notebook for Sets. Reference link: https://www.w3schools.com/python/python_sets.asp

In [59]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

In [60]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

In [61]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [62]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'banana', 'cherry', 'apple'}

In [63]:
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'mango', 'grapes', 'banana', 'cherry', 'orange', 'apple'}

In [64]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [65]:
# thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [66]:
# Note: If the item to remove does not exist, discard() will NOT raise an error.


thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [67]:
# Note: Sets are unordered, so when using the pop() method, you will not know which item that gets removed.

thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

banana
{'cherry', 'apple'}

In [68]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [72]:
thisset = {"apple", "banana", "cherry"}

print(thisset)

del thisset

print(thisset)

{'banana', 'cherry', 'apple'}

NameError: name 'thisset' is not defined

In [75]:
# oin Two Sets
# There are several ways to join two or more sets in Python.

# You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

# Note: Both union() and update() will exclude any duplicate items.

In [73]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'a', 'b'}

In [74]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'c', 'a', 'b'}